<div class="pad">
  <span ngClass="mat-title"> Políticos </span>
  <mat-list>
    <mat-list-item
      *ngFor="let politician of politicians$"
      [routerLink]="['/politicos/', politician.key]"
    >
      <span matLine ngClass="mat-boody-1"> {{ politician.name }} </span>
      <span matLine ngClass="mat-boody-1"> {{ politician.party }} </span>
      <a
        mat-mini-fab
        [routerLink]="['/politicos/', politician.key]"
        color="primary"
      >
        <mat-icon>account_circle</mat-icon>
      </a>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button color="primary" routerLink="create">
    CREAR POLÍTICO
  </button>
</div>
